<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.pilot.pseudo') %>:</strong>
  <%= @pilot.pseudo %>
</p>

<p>
  <strong><%= t('activerecord.attributes.pilot.name') %>:</strong>
  <%= @pilot.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.pilot.firstname') %>:</strong>
  <%= @pilot.firstname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pilot.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.pilot.birthdate') %>:</strong>
  <%= @pilot.birthdate %>
</p>

<p>
  <strong><%= t('activerecord.attributes.pilot.description') %>:</strong>
  <%= @pilot.description %>
</p>

<%= link_to t('activerecord.misc.edit'), edit_pilot_path(@pilot) %> |
<%= link_to t('activerecord.misc.back'), pilots_path %>
